.bg {
    /* The image used */
    background-image: url("../images/Portfolio-Background.png");
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
}
/* font/color variables */
:root {
    --header-font: 'Shadows Into Light', cursive;
    --body-font: 'Raleway', sans-serif;
    --purple-color:  #8D68A5;
    --purple-hover: rgb(122, 88, 147);
    --teal-color: #04D8C3;
    --teal-hover: rgb(115, 220, 209);
    --yellow1-color: #F2CA04;
    --yellow2-color: #F2B604;
    --orange-color: #F27C37;
    --orange-hover: rgb(242, 99, 16);
}

main {
    text-align: center;
    font-family: var(--body-font);
}
.image-with-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 780px) {
    .image-with-project {
        display: flex;
        flex-direction: column;
    }
}

#see-less {
    display: none;
}
.navbar-light .navbar-toggler {
    border: none;
}
a.nav-link {
    padding: 0 15px !important;
}
a.navbar-brand {
    flex-direction: column;
    justify-content: center;
}
header {
    font-family: var(--header-font);
    font-size: 1.25rem;
}
.lead {
    color: var(--yellow1-color);
}

.jumbotron {
    background-color: var(--purple-color);
    color: #fff !important;
    text-align: center;
}

.btn1 {
    background-color: var(--teal-color);
    border-color: var(--teal-color);
    color: #fff !important;
}
.btn1:hover {
    background-color: var(--teal-hover);
    border-color: var(--teal-color);
}
.btn2 {
    background-color: var(--orange-color);
    border-color: var(--orange-color);
    color: #fff !important;
}
.btn2:hover {
    background-color: var(--orange-hover);
}
.btn3 {
    background-color: var(--purple-color);
    border-color: var(--purple-color);
    color: #fff !important;
}
.btn3:hover {
    background-color: var(--purple-hover);

}
.btn4 {
    background-color: var(--yellow2-color);
    border-color: var(--yellow2-color);
    color: #fff !important;
}
.btn4:hover {
    background-color: var(--yellow1-color);
}
a:link {
    color: inherit;

}
a:visited {
    color: inherit;
}
a:hover {
    color: var(--orange-color)
}

a:active {
    color: var(--orange-color)
}
