.bg {
    /* The image used */
    background-image: url("../images/Portfolio-Background.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* font/color variables */
:root {
    --header-font: 'Shadows Into Light', cursive;
    --body-font: 'Raleway', sans-serif;
    --purple-color:  #8D68A5;
    --teal-color: #04D8C3;
    --yellow1-color: #F2CA04;
    --yellow2-color: #F2B604;
    --orange-color: #F27C37;
}
main {
    text-align: center;
    font-family: var(--body-font);
}

.navbar-light .navbar-toggler {
    border: none;
}
a.nav-link {
    padding: 0 15px !important;
}
a.navbar-brand {
    flex-direction: column;
    justify-content: center;
}
header {
    font-family: var(--header-font);
    font-size: 1.25rem;
}

.jumbotron {
    background-color: var(--purple-color);
    color: #fff !important;
    text-align: center;
}

.btn1 {
    background-color: var(--teal-color);
    border-color: var(--teal-color);
    color: #fff !important;
}
.btn1:hover {
    color: var(--purple-color);
    background-color: var(--yellow2-color);
}
.btn2 {
    background-color: var(--orange-color);
    border-color: var(--orange-color);
    color: #fff !important;
}
.btn2:hover {
    color: var(--purple-color);
    background-color: var(--yellow2-color);
}
.btn3 {
    background-color: var(--yellow2-color);
    border-color: var(--yellow2-color);
    color: #fff !important;
}
.btn3:hover {
    color: var(--purple-color);
    background-color: var(--yellow1-color);
}
a:link {
    color: inherit;

}
a:visited {
    color: inherit;
}
a:hover {
    color: var(--orange-color)
}

a:active {
    color: var(--orange-color)
}
